---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=%20FQ3DUATB3DKYUH7IC&name=311&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 04371:27704
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - FQ3DUATB3DKYUH7IC
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 93, "images": [{"url": "http://userserve-ak.last.fm/serve/_/386371.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/386371.jpg"}}]}}'
  recorded_at: Thu, 10 Jul 2014 01:57:09 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=%20FQ3DUATB3DKYUH7IC&name=311&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7cbef:13469
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - FQ3DUATB3DKYUH7IC
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 93, "images": [{"url": "http://userserve-ak.last.fm/serve/_/386371.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/386371.jpg"}}]}}'
  recorded_at: Thu, 10 Jul 2014 01:57:10 GMT
recorded_with: VCR 2.9.0
