<body class="homepage">
  <form id="form_display" action="/gigs" method="get">
    <input class="form-control" type="text" name="band_name" placeholder="Enter Band Name">
    <br>
    <button id="search_button" type="submit" class="btn btn-default" value="Search For Gigs">Search for Concerts</button>
  </form>
</body>