---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=b20186bc6bd9756f2777dd5f8dc4f4f5&artist=311&format=json&method=artist.getinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www219
      Content-Type:
      - application/json; charset=utf-8;
    body:
      encoding: UTF-8
      string: |
        {"artist":{"name":"311","mbid":"bf600e2b-dc2d-4839-a1be-6ebef4087cd0","url":"http:\/\/www.last.fm\/music\/311","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/35216679.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/35216679.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/35216679.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/35216679.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/500\/35216679\/311.jpg","size":"mega"}],"streamable":"0","ontour":"1","stats":{"listeners":"921517","playcount":"19517812"},"similar":{"artist":[{"name":"The Urge","url":"http:\/\/www.last.fm\/music\/The+Urge","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/93331237.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/93331237.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/93331237.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/93331237.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/500\/93331237\/The+Urge+1273854[...]
