---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/artists.json?apikey=12XsVy8nEO6w6CqL&query=Dr_Dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resultsPage":{"status":"ok","results":{"artist":[{"displayName":"Dr.
        Dog","identifier":[{"mbid":"e9aed5e5-ed35-4244-872e-194862290295","eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:e9aed5e5-ed35-4244-872e-194862290295/calendar.json","href":"http://api.songkick.com/api/3.0/artists/mbid:e9aed5e5-ed35-4244-872e-194862290295.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:e9aed5e5-ed35-4244-872e-194862290295/setlists.json"}],"uri":"http://www.songkick.com/artists/42687-dr-dog?utm_source=27408&utm_medium=partner","onTourUntil":"2014-09-13","id":42687},{"identifier":[],"uri":"http://www.songkick.com/artists/3381811-scott-mcmicken-of-dr-dog?utm_source=27408&utm_medium=partner","onTourUntil":null,"displayName":"Scott
        Mcmicken of Dr. Dog","id":3381811},{"identifier":[],"uri":"http://www.songkick.com/artists/3300301-dr-dog-and-the-mother-hips?utm_source=27408&utm_medium=partner","onTourUntil":null,"displayName":"Dr.
        Dog & the Mother Hips","id":3300301},{"displayName":"Dr. Dog @ the Vogue","identifier":[],"uri":"http://www.songkick.com/artists/7864009-dr-dog-the-vogue?utm_source=27408&utm_medium=partner","onTourUntil":null,"id":7864009}]},"perPage":50,"page":1,"totalEntries":4}}'
  recorded_at: Thu, 03 Jul 2014 16:06:55 GMT
recorded_with: VCR 2.9.0
