---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=%20FQ3DUATB3DKYUH7IC&name=skrillex
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - ef99f:31388
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - FQ3DUATB3DKYUH7IC
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artist": {"id": "ARUAMGA123E29C15AD", "name": "Skrillex"}}}'
  recorded_at: Mon, 07 Jul 2014 05:20:58 GMT
recorded_with: VCR 2.9.0
