---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/artists.json?apikey=12XsVy8nEO6w6CqL&query=skrillex
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resultsPage":{"status":"ok","results":{"artist":[{"displayName":"Skrillex","onTourUntil":"2014-10-03","identifier":[{"eventsHref":"http://api.songkick.com/api/3.0/artists/mbid:ae002c5d-aac6-490b-a39a-30aa9e2edf2b/calendar.json","setlistsHref":"http://api.songkick.com/api/3.0/artists/mbid:ae002c5d-aac6-490b-a39a-30aa9e2edf2b/setlists.json","mbid":"ae002c5d-aac6-490b-a39a-30aa9e2edf2b","href":"http://api.songkick.com/api/3.0/artists/mbid:ae002c5d-aac6-490b-a39a-30aa9e2edf2b.json"}],"uri":"http://www.songkick.com/artists/3084961-skrillex?utm_source=27408&utm_medium=partner","id":3084961},{"identifier":[],"displayName":"Skrillex
        Club Show","onTourUntil":null,"uri":"http://www.songkick.com/artists/7410779-skrillex-club-show?utm_source=27408&utm_medium=partner","id":7410779},{"onTourUntil":"2014-05-31","identifier":[],"uri":"http://www.songkick.com/artists/7933158-skrillex-two-day-pass?utm_source=27408&utm_medium=partner","displayName":"Skrillex
        Two Day Pass","id":7933158},{"displayName":"The Eden Sessions Skrillex","identifier":[],"uri":"http://www.songkick.com/artists/8145408-eden-sessions-skrillex?utm_source=27408&utm_medium=partner","onTourUntil":"2014-06-25","id":8145408},{"identifier":[],"displayName":"skrillex-oceandiva","onTourUntil":null,"uri":"http://www.songkick.com/artists/7608319-skrillexoceandiva?utm_source=27408&utm_medium=partner","id":7608319}]},"perPage":50,"page":1,"totalEntries":5}}'
  recorded_at: Sun, 18 May 2014 05:25:10 GMT
recorded_with: VCR 2.9.0
