---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/songs?api_key=%20FQ3DUATB3DKYUH7IC&name=dr%20dog&results=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - a0306:12507
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - FQ3DUATB3DKYUH7IC
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 145, "songs": [{"id": "SOEOGES13719558781", "title":
        "Hang On"}, {"id": "SOYJXTK1372F164278", "title": "Warrior Man"}, {"id": "SONFKGP13134386F2F",
        "title": "The Ark"}, {"id": "SOOPMVD141991A4D68", "title": "Cuckoo"}, {"id":
        "SOCUXND1311AFDEB05", "title": "Mirror, Mirror"}, {"id": "SOBNXKV12AB018C7CF",
        "title": "The Rabbit, The Bat & The Reindeer"}, {"id": "SOCYDRV141991A3AEF",
        "title": "Rock & Roll"}, {"id": "SOGCELZ141991ADBFA", "title": "Phenomenon"},
        {"id": "SOHZCOD1311AFE0956", "title": "Where'[...]
