---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?q=dr%20dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '1405620011'
      Last-Modified:
      - Thu, 17 Jul 2014 18:00:11 GMT
    body:
      encoding: UTF-8
      string: '{"info": {"num_results": 578, "limit": 100, "offset": 0, "query": "dr
        dog", "type": "track", "page": 1}, "tracks": [{"album": {"released": "1999",
        "href": "spotify:album:5csXMdS69VOvh8MjyfwkjB", "name": "2001", "availability":
        {"territories": "AD AR AT AU BE BG BO BR CH CL CO CR CY CZ DE DK DO EC EE
        ES FI FR GB GR GT HK HN HR HU IE IS IT LI LT LU LV MC MT MY NI NL NO NZ PA
        PE PH PL PT PY RO SE SG SI SK SV TR TW UY"}}, "name": "The Next Episode",
        "external-ids": [{"type": "isrc", "id": "USIR19915078"}], "popularity": "0.76",
        "explicit": true, "length": 161.506, "href": "spotify:track:20LxTsa6936zOlzTWqoPVt",
        "artists": [{"href": "spotify:artist:6DPYiyq5kWVQS4RGwxzPC7", "name": "Dr.
        Dre"}, {"href": "spotify:artist:7hJcb9fa4alzcOq3EaNPoG", "name": "Snoop Dogg"}],
        "track-number": "11"}, {"album": {"released": "1999", "href": "spotify:album:5csXMdS69VOvh8MjyfwkjB",
        "name": "2001", "availability": {"territories": "AD AR AT AU BE BG BO BR CH
        CL CO CR CY CZ DE DK DO EC EE ES FI FR GB GR GT HK HN HR HU IE IS IT LI LT
        LU LV MC MT MY NI NL NO NZ PA PE PH PL PT PY RO SE SG SI SK SV TR TW UY"}},
        "name": "Still D.R.E.", "external-ids": [{"type": "isrc", "id": "USIR19905031"}],
        "popularity": "0.74", "explicit": true, "length": 270.651, "href[...]
