---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?q=dr%20dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '1404842410'
      Last-Modified:
      - Tue, 08 Jul 2014 18:00:10 GMT
    body:
      encoding: UTF-8
      string: '{"info": {"num_results": 513, "limit": 100, "offset": 0, "query": "dr
        dog", "type": "track", "page": 1}, "tracks": [{"album": {"released": "2007",
        "href": "spotify:album:1izVgVm0j6uKThFu4JIHmx", "name": "Heart It Races",
        "availability": {"territories": "CA MX US"}}, "name": "Heart it Races - As
        Played By Dr Dog", "popularity": "0.64", "external-ids": [{"type": "isrc",
        "id": "US3R40713505"}], "length": 231.88, "href": "spotify:track:0djLkFyFVazsZQBcw9HeDj",
        "artists": [{"href": "spotify:artist:60eT7q88iLWKnuSXed1AGr", "name": "Architecture
        In Helsinki"}], "track-number": "5"}, {"album": {"released": "2012", "href":
        "spotify:album:3PfGVmxCIWVVp2ZOcKHx7U", "name": "Be The Void", "availability":
        {"territories": "AD AR AT AU BE BG BO BR CA CH CL CO CR CY CZ DE DK DO EC
        EE ES FI FR GB GR GT HK HN HR HU IE IS IT LI LT LU LV MC MT MX MY NI NL NO
        NZ PA PE PH PL PT PY RO SE SG SI SK SV TR TW US UY"}}, "name": "Lonesome",
        "popularity": "0.58", "external-ids": [{"type": "isrc", "id": "USEP41130003"}],
        "length": 198.44, "href[...]
