/*
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

body {
////  background-color: #2E2F30;
  background-image: asset-url("concert.jpeg");
  background-attachment: fixed;
  background-size: 100%;
////  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

//header {
//  background-color: #DADADA;
//  height: 32px;
//  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
//}



//.container-inner {
//  margin: auto;
//  width: 960px;
//  padding: 1em;
//}
//
//.form-label {
//  display: inline-block;
//  width: 100px;
//}
//
//.form-button {
//  margin-left: 105px;
//
//}
//
//.container {
//  text-align: center;
//}
//
//ul {
//  list-style: none;
//  color: white;
//}
//
//#band_info {
//  text-align: center;
//  color: #f7644d;
//}
//
#form_display {
  text-align: center;
  margin-top: 20%;
}
//
//img {
//  margin-left: 32%;
//}
//
//#button {
//  background-color: #2E2F30;
//  color: #DADADA;
//  border-radius: 7px;
//}

