/*
*= require_tree .
 *= require_self
 *= require bootstrap.min
 */
@import 'layout';
@import 'forms';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#footer {
  background-color: #000000;
  bottom: 0;
  height: 35px;
  position: fixed;
  width: 100%;
  color: #ffffff;
}

body {
  background-color: #ffffff;
}

body.homepage {
  height: 100%;
  background-image: asset-url("concert.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

#nav {
  float: right;
  list-style: none;
  margin-right: 25px;
  margin-top: 36px;
  color: white;
  li {
    float: right;
  }
}

img {
  width: 60%;
  max-height: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

tr:hover {
  background: #adadad;
}

#search_button {
  width: 12%;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 1%;
  margin-right: 6.6%;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

button.btn-default {
  width: 11%;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 1%;
  margin-left: 6.4%;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.jumbotron h2 {
  color: #000000;
  margin-bottom: 5px;
}

.welcome_flash {
  clear: both;
}

.welcome_flash, .errors ul {
  font-family: 'Open Sans', sans-serif;
  background-color: darkgrey;
  font-size: 150%;
  min-width: 100%;
  color: white;
  list-style-type: none;
  margin: 0px;
  padding-bottom: -.96%;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 3px;
}

#user_name {
  color: white;
  padding-right: 5px;
  padding-left: 4px
}

#login {
  padding-left: 2px;
}

.form_styling {
  color: white;
  background: transparent;
  font-size: 1.1em;
  input {
    height: 22px;
    font-size: 12px;
  }
  td {
    padding: 1px;
  }

}

#form_display {
  text-align: center;
  margin-top: 16%;
}

#my_votes_link {
  padding-left: 6px;
}

input[type=checkbox] {
  zoom: 1.5;
}

#title {
  text-align: center
}

#past_votes_link {
  color: #000000;
  float: right;
}