<h1 id="band_info">Band Info</h1>

<%= image_tag @image_url %>

<div class="container">
  <% @gigs.each do |venue, location| %>
    <ul>
      <li><%= venue %>, <%= location %></li>
    </ul>
  <% end %>
</div>