<div class="container">
  <div class="jumbotron">
    <div class="row">
      <ul style="color:#F7F7F7">
        <li><h1 style="text-align: center"><%= @display_name %></h1></li>
        <li><h2 style="text-align: center" style="color:#000000"><%= @venue %> - <%= @location %></h2></li>
        <hr>
        <table align="center" class="table table-bordered">
          <tr>
            <th>Vote</th>
            <th>Track List</th>
          </tr>
          <% @song_list.each do |x| %>
            <tr>
              <td><input type="checkbox" value=""></td>
              <td><%= x %></td>
            </tr>
          <% end %>
        </table>
        <button type="button" class="btn btn-default">Submit</button>
      </ul>
    </div>
  </div>
</div>
