<div class="container">
  <ul>
    <li><h1 style="color:#ffff00"><%= @display_name %> - <%= @venue %>, <%= @location %></h1></li>

<% @song_list.each do |x| %>
      <li><%= x %></li>
    <% end %>
  </ul>
</div>

