<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><h1>Voted Track Listing</h1></h3>
    </div>
    <div class="panel-body">
      <table align="center" class="table table-striped">
        <th><h4>Song Name</h4></th>
        <th><h4>Total Votes</h4></th>
        <% @songs.each do |song, count| %>
          <tr>
            <td><%= song.capitalize %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>