<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><h1>All Shows</h1></h3>
    </div>
    <div class="panel-body">
      <table align="center" class="table table-striped">
        <% @gigs.each do |show, id| %>
          <tr>
            <td align="center"><h4><%= link_to show,
                                               songs_voted_for_by_gig_path(gig_id: id), style: "color:black" %></h4>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
