<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="padding-left: 15px">My Votes</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" align="center">
        <th>Total Votes</th>
        <th>Song Name</th>
        <th>Artist Name</th>
        <% @user_votes.each do |array, count| %>
          <tr>
            <td><%= count %></td>
            <td><%= array.last %></td>
            <td><%= array.first %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
