<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="padding-left: 15px">Voted List - <%= @name[1] %></h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" align="center">
        <th>Song Name</th>
        <th>Total Votes</th>
        <% @show_votes.each do |array, count| %>
          <tr>
            <td><%= array.last.capitalize %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


