<!DOCTYPE html>
<html>
<head>
  <title>ProjectX</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header">
  <header>
    <h1 align="left" style="color:#F7F7F7" style="font: 'Roboto Condensed', sans-serif">Rock Your Vote!</h1>
  </header>
</div>


<%= yield %>

</body>
</html>
